body {
    font-family: Calibri, Helvetica, sans-serif;
   	font-size: 1em;
   	color: #696969;
   	margin: auto;
   	text-align: center;
     }

#site {
    display: table;
    margin: auto; 
    }

#playlist {
	display: inline-block;
    border: solid;
    border-width: thick;
    border-color: #008080;
    margin: auto;
    text-align: center;
    }
           
ul {
	display: inline-block;
	list-style-type: none;
	}


